*DS_Store
.htaccess
.htpasswd
.history
composer.lock
/vendor
/logs
/cache
/tmp
/public/AdminTheme
/target
.metadata
.settings/
.project
.c9
.idea
.classpath
.vagrant
.vscode
deployment.properties
/public/*Assets
/public/shop-assets
/public/tmp
/public/data_feed/
deployment.properties
config/common.config.ini
config/common.config.ini.*
public/theme
public/Theme
public/sitemaps
/apps/Theme/Assets/scss/scss_master.css
/apps/Theme/Assets/css/styles.min.css
/apps/Theme/Assets/js/scripts.min.js
/apps/Theme/Assets/shop-scss
/apps/Theme/shop-views

public/datateam
public/mfrimages

fabfile.py
fabfile.pyc

/docker/data

!.gitignore

.buildpath

/public/dealer-theme
*php_errors.log
