.ais-hierarchical-menu--list__lvl0 .ais-hierarchical-menu--item .ais-hierarchical-menu--list .parent span:before {
    content:'';
    position: absolute;
    width:20px;
    height: 25px;
    verflow: hidden;
    margin: -5px 0 0 -20px;
    background: url('/theme/img/jba/arrow_item_sidebar.gif') -20px 0 no-repeat;/* transition: all 50ms ease-in-out; *//* -webkit-transition: all 50ms ease-in-out; */
    -moz-transition: all 50ms ease-in-out;/* background-position: 0 0; */
    -o-transition: all 50ms ease-in-out;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

.ais-hierarchical-menu--item .parent {
    padding-right:24px;
}

.ais-hierarchical-menu--list__lvl1 > .ais-hierarchical-menu--item .parent a {
    padding-left: 20px;
}

.ais-hierarchical-menu--list__lvl2 .parent a {
    padding-left: 32px;
}

.new_toggle, .ais-root__collapsible.ais-root__collapsed .new_toggle {
    content: '';
    display: block;
    float: right;
    width: 24px;
    height: 25px;
    margin: -5px 0;
    cursor: pointer;
    background: url(/theme/img/jba/arrow_toggle_sidebar_plus.gif) -24px 0 no-repeat;
    background-size: 48px 50px;
    position: absolute;
    right:0;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;

}

.new_toggle:hover, .ais-root__collapsible .new_toggle:hover {
    background-position: 0 0;
    color: #ffffff;
    background-color: #000000;
    transition: all 10ms ease-in-out;
    -webkit-transition: all 10ms ease-in-out;
    -moz-transition: all 10ms ease-in-out;
    -o-transition: all 10ms ease-in-out;
}

.ais-hierarchical-menu--list__lvl0 .ais-hierarchical-menu--item .ais-hierarchical-menu--list .parent a:hover span:before {
background-position: 0 0;
transition: all 50ms ease-in-out;
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
}

.ais-hierarchical-menu--list__lvl0 .ais-hierarchical-menu--item .ais-hierarchical-menu--list .parent span {
    white-space: normal;
}


em.toggle {
    display: none!important;
}

.ais-hierarchical-menu--item__active > div > li > a {
    color: #ffffff;
    background-color: #000000;
}

.ais-hierarchical-menu--item__active
> div
> li
a
span:before {
    background-position: 0 0!important;
    transition: all 50ms ease-in-out;
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
}

.active > div > li .new_toggle, .ais-root__collapsible .new_toggle
  {
      background-image: url(/theme/img/jba/arrow_toggle_sidebar_minus.gif);
}

.ais-root__collapsible li {
    list-style-type:none;
}

.ais-root__collapsible .ais-refinement-list--list {
    margin-left: 8px;
}

// .ais-root__collapsible .block-title > strong > span > div {
//     position: relative; 
// }

// .ais-root__collapsible .block-title .new_toggle {
//     top: -3px;
//     background-position: 0 1px;
//     height: 27px;
// }

.ais-pagination--item {
    padding: 0;
}

.ais-pagination--item__next, .ais-pagination--item__last, .ais-pagination--item__first, .ais-pagination--item__previous {
    background-color: #000000;
    
    a {
        color: #ffffff!important;
    }

    &:hover, &:hover a, a:hover a, a:hover {
        background-color: #ffffff!important;
        color: #000000!important;
    }
}

.ais-pagination--item__active a.ais-pagination--link {
    color: #ffffff!important;
    background-color: #0736f8;
}

input.ais-refinement-list--checkbox {
    display: none;
}

.ais-refinement-list--list {
    margin-left: -8px;
}

input.sbx-sffv__input {
    max-width: 100%;
    width: calc(100% - 46px);
    background-color: #fff;
    /* margin-bottom: 5px; */
}

.sbx-sffv__wrapper {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

form.searchbox.sbx-sffv {
    margin-bottom: 5px;
}

label.ais-refinement-list--label {
    /* padding: 5px 8px 4px; */
}

#search_selected_5e85f71ad36f5e431c0ed948 {
    display: none;
}

.ais-refinement-list--item__active .refinement_selector a {
    color: #ffffff;
    background-color: #000000;
}

.ais-show-more {
    cursor: pointer;
}

a.ais-star-rating--link {
    display: inline-block;
    padding: 5px 8px 4px;
    margin: 0 0 0 -8px;
    text-decoration: none;
}

.collection_search_input {
    margin-bottom: 5px;
}

.collection_search_input .ais-search-box--input  {
    display: inline-block;
    -webkit-transition: background .4s ease,-webkit-box-shadow .4s ease;
    transition: box-shadow .4s ease,background .4s ease;
    transition: box-shadow .4s ease,background .4s ease,-webkit-box-shadow .4s ease;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 0 1px #ccc;
    box-shadow: inset 0 0 0 1px #ccc;
    background: #fff;
    padding: 0 20px 0 26px;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: calc(100% - 46px);
    height: 26px;
}

.collection_search_input .ais-search-box--magnifier {
    left: 5px;
    top: 6px;

    svg {
        fill: #337ab7;
    }
}

.category_dynamic_head {
    // height: 500px;

    .category_dynamic_head_loading {
        visibility: hidden;
    }
}

.amconf-image-container
{
    float:left;
    position:relative;
    text-align: center;
    margin-right: 5px;  
}